
body {
  /*background-color: #F8F8F8;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  /*font-weight: normal;
  line-height: 1.2em;*/
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  max-width: 1000px;
  max-height: 706px;
  margin-left: auto;
  margin-right: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

canvas {
  /*background: #fff;*/
  position: absolute;
  /*z-index: 100;*/
  image-rendering: optimizeQuality;
  /*max-height: 706px !important;
  max-width: 706px !important;*/
}

canvas#shadow_canvas {
  /*background: #ff0;*/
  /*opacity: 0.5;*/
}

div.level,
div#levels_label,
div#level_progess,
div#start_critters {
  position: absolute;
  font-family: Rationale;
  font-size: 28px;
  height: 30px;
  padding: 5px;
  z-index: 200;
  text-transform: uppercase;
  text-align: center;
  top: 20px;
  background: #F5EA56;
}

div#start_critters {
  left: 20px;
  width: 120px;
}

div.level:hover,
div#start_critters:hover {
  /*background: #E3D94F;*/
  background: white;
  cursor: pointer;
}

div.level {
  width: 20px;
}

div#levels_label {
  left: 760px;
  width: 90px;
}

div#level1 {
  left: 870px;
}
div#level2 {
  left: 910px;
}
div#level3 {
  left: 950px;
}
div #level_progess {
  display: none;
  left: 160px;
  width: 60px;
}

#fps {
  position: absolute;
}
