
* {
  margin: 0;
  padding: 0;
  font-family: Rationale;
  text-transform: uppercase;
  line-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow: hidden;
  /*font-weight: normal;
  line-height: 1.2em;*/
}

#wrapper {
  /*max-width: 1024px;
  max-height: 768px;*/
  /*height: 100%;
  width: 100%;*/
  background-position: center bottom;
  background-repeat: no-repeat;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

#game {
  /*max-height: 100vh;*/
  /*height: 100vh;*/
}

canvas {
  /*background: #fff;*/
  /*position: absolute;*/
  /*z-index: 100;*/
  /*image-rendering: optimizeQuality;*/
  /*max-height: 706px !important;
  max-width: 706px !important;*/
  /*max-height: 100vh;*/
  height: 100vh;
  background-size: cover;
}

canvas#shadow_canvas {
  position: absolute;
  top: 0;
  left: 0;
}

div {
  position: absolute;
}

a#fork_on_github,
div.button,
div.level,
div#debug_timing,
div#debug_textures_button,
div#debug_shadows_button,
div#levels_label,
div#level_progess,
div#start_critters {
  font-size: 28px;
  padding: 5px 5px 3px 5px;
  z-index: 200;
  text-align: center;
  top: 20px;
  background: #F5EA56;
  position: absolute;
}

div#debug {
  display: none;
}

div#start_critters {
  left: 20px;
  width: 120px;
}

a#fork_on_github:hover,
div#debug_textures_button:hover,
div#debug_shadows_button:hover,
div#play_again:hover,
div.level:hover,
div#start_critters:hover {
  /*background: #E3D94F;*/
  background: white;
  cursor: pointer;
}

div.level {
  width: 20px;
}

div#levels_label {
  left: 760px;
  width: 90px;
}

div#level1 {
  left: 870px;
}
div#level2 {
  left: 910px;
}
div#level3 {
  left: 950px;
}
div#level_progess {
  display: none;
  left: 160px;
  width: 60px;
}

#done {
  z-index: 300;
  height: 150px;
  top: 200px;
  left: 0px;
  z-index: 250;
  width: 100%;
  text-align: center;
  display: none;
}

#done #stripe {
  background: -webkit-linear-gradient(top, #f5ea56 0%,#d3d34c 100%);
  height: 100px;
}

#done #stripe h2 {
  padding-top: 5px;
  font-size: 60px;
}

#done #stripe {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#done #stripe p {
  font-size: 16px;
}

#done div.button {
  width: 160px;
  top: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#debug {
  top: 70px;
  left: 20px;
}

div#debug_textures_button,
div#debug_shadows_button,
div#debug_timing {
  text-align: left;
  float: left;
  width: 120px;
  font-size: 16px;
  height: auto;
}

div#debug_textures_button {
  top: 170px;
}
div#debug_shadows_button {
  top: 210px;
}

a#fork_on_github {
  font-size: 14px;
  height: 27px;
  width: 100px;
  padding-top: 6px;
  left: 640px;
  /*top: 70px;*/
}
